@use "../../scss/" as *;

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  backdrop-filter: blur(6px);
  z-index: 98;
  .loader {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    @include mobile {
      transform: translateY(-2rem);
    }
    &__container {
      position: relative;
      display: flex;
      align-items: center;
      width: 9rem;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__film {
      height: 2.9rem;
      position: absolute;
      top: 1.9rem;
      left: 1rem;
      display: flex;
      &_img {
        animation: rotate 1.5s linear infinite;
        object-fit: cover;
        width: 100%;
      }
    }
    h4 {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
